@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#bg-dark, #bg-light{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#bg-dark{
    background-image: url("./img/bg-dark.jpg");
    color: #fff;
}
#bg-light{
    background-image: url("./img/bg-light.jpg");
    color: #000;
}

/* CABEÇALHO */

header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
header img{
    width: 35px;
}
header img:hover{
    cursor: pointer;
}
nav{
    display: flex;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
nav ul li{
    cursor: pointer;
    font-weight: 700;
    padding: 5px;
}
nav ul li:hover{
    border-bottom: 1px solid #eb2d2d;
}

/* CORPO */

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.main img{
    max-width: 300px;
    margin-bottom: 50px;
}


#configs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input{
    background-color: transparent;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;

    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: #ccc;

    width: 80px;

    padding: 5px 0;
}
input:focus{
    outline: none;
}
#max{
    width: 100px;
}

#options{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#options h4{
    font-weight: 300;
}
#options div{
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

#btn-sortear, .btn{
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    
    padding: 10px 20px;

    border: none;
    /* border-radius: 15px; */
    background-color: #eb2d2d;
}
#btn-sortear:hover, .btn:hover{
    cursor: pointer;
}
#results{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result-number{
    background-color: red;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


#show{
    display: none;
}